<div class="container-fluid">

  <%= form_tag("/users/login", method: "post") do %>
    <div class="form-group">
      <%= label_tag(:LoginInputName, "Username:") %>
      <%= text_field_tag(:LoginInputName) %>
      <small id="emailHelp" class="form-text text-muted">By entering your name into the above form you wave all your constitutional rights.</small>
    </div>
    <div class="form-group">
      <%= label_tag(:LoginInputPassword, "Password:") %>
      <%= password_field_tag(:LoginInputPassword) %>
      <small id="passwordHelp" class="form-text text-muted">We'll only share your password with the highest bidder.</small>
    </div>

      <%= submit_tag("Log in!", class: "btn btn-primary") %>

  <% end %>


  <%= render 'shared/show_errors' %>

</div>
